In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s2 = pd.Series([68, 83, 112, 68],index = ['alice',"bob", "charles", "darwin"],name = 'Age')
print(s2)

In [ ]:
s3 = pd.Series([70,80,100,60], index = ['bob','darwin', 'Ram','Shyam'], name = 'weight')

In [ ]:
df = pd.DataFrame([s2,s3])#, columns = [x.name for x in (s2,s3)], index = [x for x in])
df

In [ ]:
df_3 = pd.DataFrame({'weight':s3,'age':s2})
df_3

In [ ]:
s4 = pd.Series([175,150,180], index = ['Ram','Shyam','Prince'],name = 'height')

In [ ]:
df_3 = pd.concat([df_3,s4], axis = 1)
df_3

In [ ]:
df_1 = pd.concat([s2,s3], axis = 1)
df_1

In [ ]:
df_3

In [ ]:
df_3.loc[['alice', 'charles'],['weight','height']] = (75,190),(85,200)

In [ ]:
df_3

In [ ]:
df_3.index.name = 'Name'

In [ ]:
df_3.loc[['Shyam', 'charles'],['weight', 'height']]

In [ ]:
df_3.iloc[[1,4],[0,2]]

In [ ]:
df_3.iloc[1:4,1:]

In [ ]:
df_3.loc['alice','age']

In [ ]:
df_3.iloc[2,1]

In [ ]:
{x:y for x,y in enumerate(df_3.index)},{a:z for a,z in enumerate(df_3.columns)}

In [ ]:
df_3

In [ ]:
df_3[np.array([True, False, False, True, True,False, True])]

In [ ]:
df_3[df_3['weight']>=75]

In [ ]:
df_3['Over 100'] = df_3['age']>=100

In [ ]:
df_3

In [ ]:
df_3['height in inches'] = df_3['height']/2.54
df_3

In [ ]:
age = df_3.pop('age')

In [ ]:
age

In [ ]:
del df_3['Over 100']
df_3

In [ ]:
df_3.insert(0, 'age', age)
df_3

In [61]:
st = pd.read_csv('DataScienceCleanStatement.csv')

In [62]:
st.head()

,Date,Description,InternationTransactionAmount,Category,Amount,TransactionUserName,TransactionType,IsoCurrency,Locality,City,State,Country,Unnamed: 12
0,12/12/2019,THE ROOM GURGAON ...,0,Video game,-127,VIBHORE GOYAL,Domestic,INR,Central Park II,Gurugram,Haryana,India,NaN
1,12/12/2019,CUT AND STYLEGURGAON ...,0,Occupation,-499,JASJIT KAUR,Domestic,INR,Sector 4,Gurugram,Haryana,India,NaN
2,12/12/2019,MUMUSOGURGAON ...,0,,-388,JASJIT KAUR,Domestic,INR,Sector 49,Gurugram,Haryana,India,NaN
3,12/12/2019,THE ROOM GURGAON ...,0,Video game,-108,VIBHORE GOYAL,Domestic,INR,Central Park II,Gurugram,Haryana,India,NaN
4,12/12/2019,THE ROOM GURGAON ...,0,Video game,-50,VIBHORE GOYAL,Domestic,INR,Central Park II,Gurugram,Haryana,India,NaN

In [63]:
st.columns

Index(['Date      ',
       'Description                                                        ',
       'InternationTransactionAmount', '  Category', '  Amount',
       'TransactionUserName ', ' TransactionType', 'IsoCurrency', 'Locality',
       'City', 'State', 'Country', 'Unnamed: 12'],
      dtype='object')

In [64]:
st.columns = [x.strip() for x in list(st.columns)]

In [65]:
st['Description']

0       THE ROOM               GURGAON                ...
1       CUT AND STYLEGURGAON                          ...
2       MUMUSOGURGAON                                 ...
3       THE ROOM               GURGAON                ...
4       THE ROOM               GURGAON                ...
                              ...
1465    KFC SEC 47 SOHNA ROAD GGURGAON                ...
1466    SPICEJET LIMITEDGURGAON                       ...
1467    CAFE COFFEE DAYILD TRADE                      ...
1468    SHOPPERS STOP LTD      GURGAON                ...
1469    TATA INDICOM-DOCOMOMUMBAI                     ...
Name: Description, Length: 1470, dtype: object

In [66]:
st['Date']

0       12/12/2019
1       12/12/2019
2       12/12/2019
3       12/12/2019
4       12/12/2019
           ...
1465      6/7/2019
1466      7/7/2019
1467      7/7/2019
1468      7/7/2019
1469     11/7/2019
Name: Date, Length: 1470, dtype: object

In [67]:
st['Description'] = [' '.join(x.split()) for x in st['Description']]

In [68]:
st['Description']

0                     THE ROOM GURGAON
1                 CUT AND STYLEGURGAON
2                        MUMUSOGURGAON
3                     THE ROOM GURGAON
4                     THE ROOM GURGAON
                     ...
1465    KFC SEC 47 SOHNA ROAD GGURGAON
1466           SPICEJET LIMITEDGURGAON
1467          CAFE COFFEE DAYILD TRADE
1468         SHOPPERS STOP LTD GURGAON
1469         TATA INDICOM-DOCOMOMUMBAI
Name: Description, Length: 1470, dtype: object

In [69]:
st

,Date,Description,InternationTransactionAmount,Category,Amount,TransactionUserName,TransactionType,IsoCurrency,Locality,City,State,Country,Unnamed: 12
0,12/12/2019,THE ROOM GURGAON,0,Video game,-127,VIBHORE GOYAL,Domestic,INR,Central Park II,Gurugram,Haryana,India,NaN
1,12/12/2019,CUT AND STYLEGURGAON,0,Occupation,-499,JASJIT KAUR,Domestic,INR,Sector 4,Gurugram,Haryana,India,NaN
2,12/12/2019,MUMUSOGURGAON,0,,-388,JASJIT KAUR,Domestic,INR,Sector 49,Gurugram,Haryana,India,NaN
3,12/12/2019,THE ROOM GURGAON,0,Video game,-108,VIBHORE GOYAL,Domestic,INR,Central Park II,Gurugram,Haryana,India,NaN
4,12/12/2019,THE ROOM GURGAON,0,Video game,-50,VIBHORE GOYAL,Domestic,INR,Central Park II,Gurugram,Haryana,India,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,6/7/2019,KFC SEC 47 SOHNA ROAD GGURGAON,0,Fast food restaurant company,-120,VIBHORE GOYAL,Domestic,INR,D1 Block,Gurugram,Haryana,India,NaN
1466,7/7/2019,SPICEJET LIMITEDGURGAON,0,Airline,-1798,VIBHORE GOYAL,Domestic,INR,Phase III,Gurugram,Haryana,India,NaN
1467,7/7/2019,CAFE COFFEE DAYILD TRADE,0,Cafe company,-298,VIBHORE GOYAL,Domestic,INR,Sohna Road,Gurugram,Haryana,India,NaN
1468,7/7/2019,SHOPPERS STOP LTD GURGAON,0,Department store company,-1852,JASJIT KAUR,Domestic,INR,Heritage City,Gurugram,Haryana,India,NaN
1469,11/7/2019,TATA INDICOM-DOCOMOMUMBAI,0,Former President of South Africa,-1297,VIBHORE GOYAL,Domestic,INR,Mahim,Mumbai,Maharashtra,India,NaN

In [70]:
st['Category'].value_counts()

                                  508
                  Cafe company    147
                    Video game    125
                       Company     49
            E-commerce company     40
                                 ...
                     Continent      1
         American-German model      1
                        Plants      1
                          Guru      1
                 City in Japan      1
Name: Category, Length: 153, dtype: int64

In [71]:
st['Amount'] = st['Amount'].astype(np.float32)

ValueError: could not convert string to float: ''

In [76]:
list(st['Amount'].value_counts().index)

['-50',
 '-140',
 '-350',
 '-75',
 '-5000',
 '-154',
 '-68',
 '-442.33',
 '-150',
 '-231',
 '-120',
 '-292',
 '-2000',
 '-126',
 '-500',
 '-1297',
 '-100',
 '-280',
 '-300',
 '-265',
 '-70',
 '-105',
 '-200',
 '-2500',
 '-250',
 '-260',
 '-137',
 '-650',
 '-291',
 '-108',
 '-631.9',
 '-368',
 '-290',
 '-286',
 '-1100',
 '-314',
 '-389',
 '-449',
 '-599',
 '-320',
 '-125',
 '-663.5',
 '-445',
 '-180',
 '-450',
 '-284',
 '-221',
 '-439',
 '-84',
 '-236',
 '-264',
 '-600',
 '-800',
 '-750',
 '-25',
 '-570',
 '-380',
 '-335',
 '-3500',
 '-252',
 '-420',
 '-336',
 '-480',
 '-1173',
 '-293',
 '-173',
 '-430',
 '-168',
 '-310',
 '-190',
 '-999',
 '-147',
 '-499',
 '-299',
 '-357',
 '-567',
 '-394',
 '-99',
 '-550',
 '-520',
 '-275',
 '-1',
 '-330',
 '-144',
 '-1299',
 '-418',
 '-580',
 '-472',
 '-171',
 '-89',
 '-162',
 '-196',
 '-348',
 '-141',
 '-135',
 '-2450',
 '-605',
 '-322',
 '-240',
 '-1025',
 '-488',
 '-1080',
 '19.79',
 '-625',
 '24.77',
 '-337',
 '-2499',
 '-2598',
 '-345',
 '-699',
 '-399',
 '-12999',
 '-7.77',
 '-254',
 '-697',
 '-1010',
 '-1199',
 '-1260',
 '-53',
 '-591',
 '-136',
 '-5964.04',
 '-115',
 '-425',
 '-655',
 '-124',
 '-606',
 '-1250',
 '-101',
 '-269',
 '-948',
 '-467',
 '-1500',
 '-10000',
 '-199',
 '-945',
 '-242',
 '-896',
 '-411',
 '-745',
 '-91',
 '-179',
 '-877',
 '-525',
 '-221.17',
 '-415',
 '-98',
 '-298',
 '1',
 '-131',
 '-1797',
 '-540',
 '-92',
 '-950',
 '-225',
 '-145',
 '-283',
 '-756',
 ' England',
 '-267.76',
 '-152',
 '-127',
 '-110',
 '-1200',
 '-272',
 '-474',
 '-20000',
 '-649',
 '-5691',
 '-3100',
 '-910',
 '-130',
 '-1145',
 '-114',
 '-860',
 '-13798',
 '-620',
 '-435',
 '-63',
 '-845',
 '-121',
 '-315',
 '-185',
 '-899',
 '-1249',
 '-45',
 '-473',
 '-785',
 '-1450',
 '-119.98',
 '-219',
 '-208',
 '-58',
 '-8000',
 '-282',
 '-1345',
 '-281',
 '-1760',
 '-400',
 '-178.5',
 '-158',
 '-676',
 '-654.83',
 '-116',
 '-1499',
 '-170',
 '-900',
 '-2650',
 '-1489',
 '-362',
 '-305',
 '-551',
 '-2369',
 '-134',
 '-249',
 '-2060',
 '-6794',
 '-2818',
 '-367',
 '-727',
 '-836',
 '-14083.98',
 '-93',
 '-127.14',
 '-2.72',
 '-6667',
 '-623',
 '-226',
 '-740',
 '-1621.45',
 '-996',
 '-1185',
 '-179.99',
 '-704',
 '-905',
 '-1321',
 '-117.71',
 '-4896.94',
 '-1766.96',
 '-139',
 '-631',
 '-483',
 '-323',
 '-799',
 '-4000',
 '79853',
 '-4475',
 '-1171',
 '24.04',
 '-11.48',
 '-5635',
 '-60',
 '-2702',
 '-184',
 '-453',
 '-1459',
 '-14.99',
 '-109.84',
 '-508',
 '-3.16',
 '-2056',
 '-270',
 '-573',
 '-829',
 '-1060',
 '-2492',
 '-138',
 '-1438',
 '-710.88',
 '-741',
 '-521',
 '-685',
 '-1085',
 '-250.88',
 '-225.54',
 '-803.26',
 '-2490',
 '-20',
 '-261.95',
 '-752.03',
 '-161.5',
 '-15.81',
 '                              ',
 '-806',
 '-2430.73',
 '9.63',
 '1180',
 '-1998.76',
 '-334',
 '-8598',
 '-454.9',
 '-6.35',
 '-11000',
 '-262.5',
 '-1038',
 '-475.95',
 '-640',
 '-4457.62',
 '-19.93',
 '24.17',
 '-2198',
 '-85',
 '-831',
 '-41000',
 '-636',
 '-1945',
 '-37',
 '-781',
 '-1590',
 '-215',
 '-486',
 '-456',
 '-12540.6',
 '-15000',
 '-1399',
 '-1104',
 '-4112',
 '-512',
 '-5849',
 '-3170',
 '-648.6',
 '-4845.12',
 '-2157',
 '-1510',
 '-9029.76',
 '-234',
 '-516',
 '-2334',
 '-2799',
 '-1848.51',
 '-453.18',
 '200000',
 '-2.33',
 '-2924',
 '-22.82',
 '-1064',
 '-4442',
 '-598',
 '-1524',
 '-195',
 '-509',
 '-137.87',
 '-146.87',
 '-1067.84',
 '-548',
 '-170.79',
 '-586',
 '-925',
 '-1699',
 '-720',
 '142514',
 '27.05',
 '-45.15',
 '-30.53',
 '-205.26',
 '-399.28',
 '-519',
 '426741',
 '-375',
 '-3283',
 '-341.92',
 '19.5',
 '-934',
 '-1855',
 '-1110.42',
 '-1452',
 '-27376',
 '-306',
 '-67.84',
 '-1445.01',
 '-12459.66',
 '-3415',
 '-7900',
 '18.5',
 '-1598.01',
 '-7602',
 '-11690',
 '-1297.27',
 '-1374',
 '-377',
 '-210.01',
 '-156',
 '-2597',
 '-738',
 '-120000',
 '-744',
 '-0.94',
 '-318',
 '-1141.3',
 '-395',
 '-1130.32',
 '-2256',
 '-989',
 '-117.23',
 '-22400',
 '-261.24',
 '-397.62',
 '-352',
 '-725',
 '-6536',
 '-8.29',
 '-2737',
 '-2907',
 '-347.16',
 '-859',
 '-502',
 '5691',
 '-1998.93',
 '-1414',
 '-104900',
 '-30.12',
 '-11504.05',
 '-18953.21',
 '-10',
 '-568.71',
 '-2868',
 '-1257.45',
 '-1798',
 '-898',
 '-1741',
 '-199.5',
 '-1270.62',
 '-187',
 '-3863',
 '125581',
 '-639',
 '-1619',
 '-2100',
 '-9699.82',
 '-2530',
 '-1110.32',
 '-1611',
 '-1540',
 '-2023.6',
 '-479',
 '-45658.04',
 '-2744',
 '-1211',
 '-1141',
 '-1588.66',
 '-1433.93',
 '-2379',
 '-494',
 '26.86',
 '-1068',
 '-534',
 '-409',
 '-2850.62',
 '-708',
 '-2366.7',
 '-549.14',
 '-480.18',
 '-1673',
 '-425.26',
 '-715',
 '64806',
 '-593',
 '-477.76',
 '-2496.22',
 '850',
 '-1120',
 '613159',
 '-572',
 '-2712.64',
 '-656',
 '-1729',
 '-2478',
 '-1873',
 '-302.99',
 '-881.59',
 '-686',
 '-186',
 '-92.95',
 '-1516',
 '-1597',
 '12.84',
 '186248',
 '14.84',
 '-517',
 '-212.76',
 '-38.67',
 '-1303',
 '-827',
 '-1480',
 '-1326.97',
 '-2460.96',
 '-1177.06',
 '-735',
 '-1088',
 '-396',
 '-2630.2',
 '-131.26',
 '-142',
 '-33.3',
 '-50.7',
 '-42.13',
 '-115.5',
 '-40797.97',
 '-1393.01',
 '-667',
 '-2249',
 '-274',
 '-6550',
 '-385.1',
 '-164',
 '-2422',
 '-1598.26',
 '-1956',
 '26.05',
 '-2800',
 '-17.63',
 '-103.96',
 '-261',
 '-30.18',
 '-6.04',
 '-4967',
 '-2265',
 '-14050',
 '-641',
 '-359',
 '-491',
 '-23',
 '-15.76',
 '-2006',
 '1199',
 '-1307',
 '-155',
 '-390',
 '26.04',
 '-66',
 '-755',
 '-6360.48',
 '-257',
 '-2502.14',
 '-3523.28',
 '-1220',
 '-1852',
 '-935',
 '-803',
 '-613.9',
 '211428',
 '-1.02',
 '-1376',
 '-568',
 '-2243',
 '-3025',
 '-255',
 '-312.9',
 '-890',
 '-557',
 '-191.44',
 '-12650',
 '-1187',
 '-1660.99',
 '-94.11',
 '-2124',
 '-1341',
 '-1105.83',
 '-1000',
 '-814',
 '-638',
 '-1678.42',
 '-2721.04',
 '-28999',
 '-1890',
 '-204',
 '-347',
 '-974',
 '899',
 '-712',
 '-10556',
 '-12050',
 '-1616',
 '-373.81',
 '-998',
 '-6560',
 '-388.5',
 '-4.32',
 '-2158.86',
 '-1534',
 '-1750',
 '-31.65',
 '-2230',
 '-721',
 '-363',
 '-44490',
 '-48.68',
 '-459.9',
 '24.37',
 '-194',
 '-6808',
 '-5400',
 '-2569.54',
 '-1814',
 '-404',
 '-2999',
 '-18.54',
 '20.84',
 '258197',
 '-5985',
 '-8743.8',
 '-552.3',
 '-10.02',
 '-584',
 '-780',
 '-328',
 '-1975',
 '-14329',
 '-276',
 '-4331',
 '-953',
 '-691.05',
 '7.52',
 '-287.92',
 '-443.92',
 '-826',
 '-554.33',
 '-4164.98',
 '-19999',
 '-613',
 '-51200',
 '-1093',
 '-530.88',
 '20.49',
 '-2127',
 '-3780',
 '-1.48',
 '-2050',
 '188',
 '16.94',
 '187074',
 '-189',
 '-478',
 '-174',
 '-325.5',
 '-1074',
 '-466.28',
 '-1235.7',
 '-79',
 '-386.01',
 '-2594',
 '-1820',
 '-1125',
 '-960',
 '-1092.79',
 '-2128.3',
 '-123',
 '24.89',
 '-35935',
 '-610',
 '-515',
 '-2069.13',
 '-2340',
 '-11673',
 '-2212.5',
 '13798',
 '-117',
 '-157.5',
 '-1776.12',
 '-543',
 '-258',
 '-688',
 '-1320',
 '-1344.03',
 '-11703.72',
 '-2020',
 '-1057',
 '-1003',
 '-1831',
 '-92.4',
 '-5536.73',
 '-491.5',
 '-1726',
 '-384',
 '-3397',
 '-3.93',
 '-1103',
 '-414.76',
 '-621',
 '-48',
 '-990',
 '-446',
 '-590',
 '-295',
 '-546',
 '-531',
 '-3534',
 '-47000',
 '-2441.37',
 '-128450',
 '25.85',
 '-220',
 '-160',
 '-840',
 '-13605.9',
 '-700',
 '-93.99',
 '-392',
 '-893',
 '-331',
 '-95',
 '-397',
 '-1215',
 '-409.5',
 '2532.86',
 '-4392.19',
 '25.44',
 '-1298',
 '-1711.05',
 '-903',
 '-756.44',
 '-813',
 '-959',
 '20.04',
 '-5632',
 '-434',
 '-19184.26',
 '-1715',
 '-2501.65',
 '-1625',
 '-454.98',
 '-12.07',
 '-1007.01',
 '-1040',
 '-411.21',
 '-1245',
 '-6295',
 '-4233',
 '-3.71',
 '2000',
 '-1717',
 '-2200',
 '-79.22',
 '-1627',
 '-112',
 '-427',
 '-1799',
 '-68.23',
 '-3241',
 '-130.2',
 '-120.76',
 '-54980.45',
 '-1661.45',
 '-466',
 '-3.63',
 '-1598',
 '-1698',
 '-772',
 '-8711',
 '-61.76',
 '-430.52',
 '-1842.96',
 '-1382',
 '-16791',
 '-640.5',
 '-760.75',
 '-1398',
 '-1490',
 '-0.03',
 '-401.1',
 '-15045',
 '-107.68',
 '-42',
 '-1883',
 '-4.11',
 '-913.5',
 '-786',
 '-198',
 '-192',
 '700000',
 '-609',
 '-2097',
 '-167',
 '-57215',
 '-21359.47',
 '-246',
 '-535.52',
 '-2.41',
 '-1907.3',
 '-183.75',
 '-970',
 '-653.5',
 '-0.37',
 '-6600',
 '-2190',
 '-1011.44',
 '-678',
 '-616',
 '-587.32',
 '-569',
 '-388.57',
 '-262',
 '-259',
 '-1.44',
 '-1.04',
 '-19.15',
 '-283.51',
 '-333',
 '-661',
 '-669',
 '-628',
 '-1128.69',
 '-12.36',
 '-2.85',
 '-743',
 '-124.87',
 '-51.07',
 '-76',
 '-462',
 '-4861',
 '-259.04',
 '-850',
 '-498',
 '216703',
 '-61350',
 '-35315.9',
 '-324',
 '-3376',
 '-582',
 '-2731.86',
 '-304',
 '-884.64',
 '-3703',
 '-2421',
 '-654',
 '-304.5',
 '-1139',
 '-63720',
 '-4491',
 '-7680',
 '-3081',
 '-2814',
 '-48635',
 '-0.01',
 '-87',
 '145831',
 '-733',
 ' India',
 '-358.12',
 '-388',
 '-370',
 '-683',
 '-3200',
 '-353.92',
 '-732',
 '-360',
 '-183',
 '-7124',
 '-3900',
 '-4455',
 '-301',
 '-213.01',
 '-1257',
 '-577.52',
 '-102.82',
 '100',
 '-604.8',
 '-5149.52',
 '-1210',
 '-3514',
 '-8260',
 '-4600',
 '-209',
 '-1420',
 '-1675',
 '-2377',
 '-1138',
 '-1141.43',
 '-10742.89',
 '-341',
 '-3093',
 '-659',
 '-823.04',
 '-2160',
 '-2169.55',
 '25.23',
 '-1044',
 '-1565',
 '-438',
 '-4569.5',
 '-169.63',
 '-1333.81',
 '-495',
 '-1641',
 '-455.97',
 '-4021',
 '-1295',
 '-1852.76',
 '-577',
 '-381',
 '-966',
 '-563',
 '26.94',
 '-302.88',
 '-159',
 '4190',
 '-704.46',
 '21.4',
 '-83',
 '-1075.99',
 '-706',
 '-867.3',
 '340000',
 '-1131.2',
 '17',
 '24.72',
 '-1546',
 '-4200',
 '-59',
 '-748',
 '-349',
 '-446.26',
 '-2205',
 '-3400',
 '-2428.32',
 '-808',
 '-30975',
 '-482',
 '-1765.19',
 '-2065',
 '20',
 '-1536.36',
 '-1039.5',
 '-3.45',
 '-34.92',
 '-858.63',
 '3523.28',
 '-5150',
 '-11232.35',
 '-775',
 '-1560',
 '-1092',
 '-630',
 '-228',
 '-3370',
 '-336.92',
 '-294',
 '-669.54',
 '-3879.9',
 '-1020',
 '-380.7',
 '-709',
 '-3190.01',
 '-1049.43',
 '-3351.57',
 '-565',
 '-1050',
 '-854.01',
 '-315.95',
 '-592',
 '-1395',
 '-878.85',
 '-681',
 '-827.4',
 '-296',
 '-687',
 '-130.75',
 '-779',
 '-115.63',
 '-668',
 '-3019',
 '-1849.5',
 '11.18',
 '-8129.07',
 '568.9',
 '-1902',
 '-5098',
 '-528',
 '-464',
 '-3521',
 '-2357',
 '-3210.5',
 '214173',
 '-129',
 '-317.13',
 '-90',
 '-169',
 '-3431.82',
 '-257.26',
 '-1004',
 '-16.05',
 '-2396',
 '-50000',
 '40900',
 '-325',
 '-40.44',
 '-436',
 '-1478',
 '-409.99',
 '-25819.01',
 '-2150']